<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288084970881-2p4vpi13911rjqoo5al0bssetsefg9sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288084970881-2p4vpi13911rjqoo5al0bssetsefg9sb</string>
	<key>API_KEY</key>
	<string>AIzaSyC-0GAeu2lHWa0frGpS1bFloc7SoA3EGT4</string>
	<key>GCM_SENDER_ID</key>
	<string>288084970881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkb.mvvm</string>
	<key>PROJECT_ID</key>
	<string>iosmvvmswift</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmvvmswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288084970881:ios:7b22368f9c676561852c80</string>
	<key>DATABASE_URL</key>
	<string>https://iosmvvmswift.firebaseio.com</string>
</dict>
</plist>